body{
  background-color: #d6e2f0;
      margin: 0;
      height: 95vh; 
      display: flex;
      justify-content: center; 
      align-items: center; 
      font-family: "Outfit", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
}

.parent-container{
  background: white;
  border-radius: 15px;
  padding: 20px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15)
}

.parent-container img{
  width: 100%;
  border-radius: 10px;
}

.parent-container h2{
  color: #1f3251;
}

.parent-container p{
  font-size: 18px;
  color: grey;
}